.bm-ion-list {
    list-style: none;
}

.bm-ion-list i {
    font-size: 20px;
    padding-right: 4px;
    color: #50d8af;
    list-style: none;
}

.bm-ion-list li {
    padding-bottom: 10px;
}

/* Блок с выводами: иконка + крупный текст
*/
.avt-conclusion div.icon i {
    font-size: 128px;
    color: #50d8af;
}

#about .content.pm-bad-news i {
    color: red;
}

/* минимальная высота карточек с декомпозицией работ */
#services .box {
    min-height: 260px;
}

/* ссылки в модальных окнах */
.modal-body a {
    color: #007bff;
    text-decoration: underline;
}

/* затемнения на кейсах и указатель мышки */
#portfolio .portfolio-item .portfolio-overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }

/* FAQ гармошка*/
#faq .card button {
    width:100%;
    white-space: normal;
}

/* CTA section */
.call-to-action {
    padding: 5px 0px;
    margin: 30px 0px;
}

.call-to-action .cta-title {
    margin: 0;
}

.call-to-action .container-fluid {
    display: flex;
    justify-content: center;
}

.call-to-action .cta-center {
    justify-content: center;
}

.call-to-action .cta-btn {
    animation: glowing 1500ms infinite;
}

@keyframes glowing {
    0% { background-color: #50d8af; box-shadow: 0 0 3px #50d8af; }
    50% { background-color: #6ed1b3; box-shadow: 0 0 40px #6ed1b3; }
    100% { background-color: #50d8af; box-shadow: 0 0 3px #50d8af; }
  }

.personal-info ul {
      list-style: none;
}

.personal-info ul a {
      color:#081e5b;
}

.personal-info ul a:hover{
    color:#50d8af;
}

.intro-content {
    background-color: white;
    background-image: url('/img/mainbackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
}