doctype html
html
    head
        meta(charset='utf-8')
        title Продакт-маркетинг - аналитика и маркетинг, ориентированная на ваш продукт
        meta(content='width=device-width, initial-scale=1.0' name='viewport')
        meta(content='Product marketing, продакт маркетинг, Product management, продакт менеджемент, продакт менеджер, оптимизация, аналитика, SEO, яндекс метрика, google analytics, facebook' name='keywords')
        meta(content='' name='description')
        // Favicons
        link(href='img/favicon.png' rel='icon', type='image/png')
        link(href='img/apple-touch-icon.png' rel='apple-touch-icon')
        // Google Tag Manager
        script 
            | (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            | new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            | j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            | 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            | })(window,document,'script','dataLayer','GTM-W28RDJ4');

        // Google Fonts
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700' rel='stylesheet')
        // Bootstrap CSS File
        link(href='lib/bootstrap/css/bootstrap.min.css' rel='stylesheet')
        // Libraries CSS Files
        link(href='lib/font-awesome/css/font-awesome.min.css' rel='stylesheet')
        link(href='lib/animate/animate.min.css' rel='stylesheet')
        link(href='lib/ionicons/css/ionicons.min.css' rel='stylesheet')
        link(href='lib/owlcarousel/assets/owl.carousel.min.css' rel='stylesheet')
        link(href='lib/magnific-popup/magnific-popup.css' rel='stylesheet')
        link(href='lib/ionicons/css/ionicons.min.css' rel='stylesheet')
        // Main Stylesheet File
        link(href='css/style.css' rel='stylesheet')
        link(href='css/pm.css' rel='stylesheet')
    body   
        #preloader
        //
          ==========================
          Top Bar
          ============================

        section#topbar.d-none.d-lg-block
            .container.clearfix
                .contact-info.float-left
                    i.fa.fa-envelope-o
                    a.pm-track(href='mailto:avt@product-marketing.ru', data-category='topbar-contact', data-label='topbar-email') avt@product-marketing.ru
                    
                .social-links.float-right
                    // a.twitter(href='#')
                        i.fa.fa-twitter
                    //a.phone(href="tel:+79067577826", target="_blank") 
                        i.fa.fa-phone &nbsp;+7 (906) 757-78-26
                    
                    a.pm-track.telegram(href='https://t.me/atolk_me', target='_blank', data-category='topbar-contact', data-label='topbar-telegram')
                        i.fa.fa-telegram
                    //a.pm-track.whatsapp(href='https://api.whatsapp.com/send?phone=+79067577826', target='_blank', data-category='topbar-contact', data-label='topbar-whatsapp')
                        i.fa.fa-whatsapp
                    a.pm.track.facebook(href='https://www.facebook.com/tolkachev.me', target='_blank', data-category='topbar-contact', data-label='topbar-facebook')
                        i.fa.fa-facebook
                    // a.instagram(href='#')
                        i.fa.fa-instagram
                    // a.google-plus(href='#')
                        i.fa.fa-google-plus
                    // a.linkedin(href='#')
                        i.fa.fa-linkedin
        //
            ==========================
            Header
            ============================
        header#header
            .container
                #logo.pull-left
                    h1
                        a.pm-track.scrollto(href='#body', data-category='navmenu', data-label='navmenu-headerlogo') Product
                            span Marketing
                        // Uncomment below if you prefer to use an image logo
                        // <a href="#body"><img src="img/logo.png" alt="" title="" /></a>
                nav#nav-menu-container
                    ul.nav-menu                        
                        li
                            a.pm-track(href='#about', data-category='navmenu', data-label='navmenu-what') ЧТО мы делаем
                        li
                            a.pm-track(href='#services', data-category='navmenu', data-label='navmenu-how') КАК мы делаем
                        li
                            a.pm-track(href='#portfolio', data-category='navmenu', data-label='navmenu-cases') Кейсы
                        li
                            a.pm-track(href='#faq-section', data-category='navmenu', data-label='navmenu-faq') FAQ (inc $)
                        li
                            a.pm-track(href='#contact', data-category='navmenu', data-label='navmenu-about') Обо мне

                        // li
                            a(href='#team') Team
                        // li.menu-has-children
                            a(href='') Drop Down
                            ul
                            li
                                a(href='#') Drop Down 1
                            li
                                a(href='#') Drop Down 3
                            li
                                a(href='#') Drop Down 4 
                            li
                                a(href='#') Drop Down 5
                // #nav-menu-container
        // #header
        //
            ==========================
            Intro Section
            ============================
        section#intro.wow.fadeIn
            .intro-content
                img(src='/img/product-marketing-circle.svg')    
            #intro-carousel.owl-carousel
                .item(style="background-image: url('img/intro-carousel/1.jpg');")
                .item(style="background-image: url('img/intro-carousel/2.jpg');")
                .item(style="background-image: url('img/intro-carousel/3.jpg');")
                .item(style="background-image: url('img/intro-carousel/4.jpg');")
                .item(style="background-image: url('img/intro-carousel/5.jpg');")
        // #intro
        main#main
            //
                ==========================
                Что мы делаем
                ============================
            section#about.wow.fadeInUp
                .container
                    .row
                        .col-lg-6.content.pm-bad-news
                            h2 Что не так с привычным маркетингом
                            // h3
                                | Три фактора успеха
                            ul
                                li
                                    i.ion-android-cancel
                                    | Основывается на субъективном, поверхностном &laquo;понимании&raquo; продукта, сегментации и потребностей ваших клиентов.
                                li
                                    i.ion-android-cancel
                                    | Режим &laquo;черного ящика&raquo;. После окончания кампании у вас остались в лучшем случае клиенты, в худшем &mdash; потерянные деньги и ложное понимание неработающего канала.
                                li
                                    i.ion-android-cancel
                                    | Игнорирование технологической составляющей маркетинговых кампаний, решений на основе данных и тестов.
                        .col-lg-6.content
                            h2 Продуктовый маркетинг
                            // h3
                                | Три фактора успеха
                            ul
                                li
                                    i.ion-android-checkmark-circle
                                    | Глубокое погружение в продукт и отрасль, в результаты прошедших кампаний, в перфоманс конкурентов. Построение клиентской воронки, CJM. Это базис, необходимый для выдвижения правильных продуктовых гипотез.
                                li
                                    i.ion-android-checkmark-circle
                                    | Тонкая настройка аналитики и дашбордов. Метрики, важные для вашего бизнеса, а не для маркетолога. Позволит увидеть поведение пользователей на вашем сайте, произвести сегментацию и лучше их узнать. Ощущение продукта позволяет выдвигать гипотезы, а объективные, скрупулезно собранные данные &mdash; подтверждать или опровергать их. Вся аналитическая инфраструктура и знание КАК и ПОЧЕМУ это работает останется с вами навсегда.
                                li
                                    i.ion-android-checkmark-circle
                                    | Тестирование, тестирование, тестирование. Не существует единственно правильного решения бизнес-задачи. Существуют только гипотезы и объективные статистически значимые данные, их подтверждающие. Чем больше мы проведем тестов в единицу времени, тем скорее отыщется масштабируемый канал привлечения клиентов, а ваше понимание продукта, пользователтского поведения и мотивации обогатится знаниями, основанными на данных.
                    .section-header
                        h2 Результат
                        h3 Кратное #[strong снижение стоимости привлечения клиента (customer acquisition cost)] за счет управляемого, основанного на данных продуктового маркетинга.
  
            section.call-to-action.wow.fadeInUp
                .container.container-fluid
                    .col-lg-6.text-center
                        h5.cta-title Остались вопросы? Готовы начать?
                    .col-lg-6.cta-center.d-flex
                        a.pm-track.cta-btn.align-middle(href='', data-toggle="modal", data-target="#feedbackModal", data-category='feedback-form', data-label='feedback-form-1') Свяжитесь со мной
            
            section#services
                .container
                    .section-header
                        h2 Декомпозиция задач
                        h3 Это не узкий маркетинг, это комплексно про ваш продукт и каналы.
                        h3 Продуктовые инсайты и маркетинг &mdash; неделимые сущности.
                    .row
                        .col-lg-12.content
                            ul.bm-ion-list
                                li
                                    i.ion-android-checkmark-circle
                                    | Ниже описан план максимум. Никакого булшита и впаривания. Если у вас что-то из этого уже есть (наверняка!) или что-то не нужно, никто не будет вам ничего впаривать.
                                li
                                    i.ion-android-checkmark-circle
                                    | Тем не менее есть блоки, которыми пожертвовать нельзя. 
                                    | Например, я не увижу у вас на лэндинге настроенных аналитических событий, а вы настаиваете, что все работает идеально и вы ни в чем не нуждаетесь, то я не возьмусь, т.к. в таких условиях результатов не достичь.
                                li
                                    i.ion-android-checkmark-circle
                                    | Все делается на ваших аккаунтах максимально прозрачно. Все доработки останутся с вами.
                                    | Я не работаю в режиме "черного ящика". Вы будете понимать каждый шаг, а я буду объяснять, почему я делаю так, а не иначе. Часть моей экспертизы естественным образом перейдет к вам. Какая это часть&mdash;зависит только от вашего желания. Я максимально открыт.

                    .row
                        .col-lg-6
                            .box.wow.fadeInLeft
                                .icon
                                    i.fa.fa-bar-chart
                                h4.title
                                    a(href='') Ui/Ux и SEO аудит лэндинга
                                p.description
                                    | Лэндинг&mdash;это витрина вашего продукта. Он обязательно должен быть удобным, логичным и позволять совершить целевое действие. Если у вас нет лэндинга, мы можем быстро и дешево сделать его для вас.
                                // button.btn.btn-light.float-right(data-toggle="modal", data-target="#landingModal") подробнее
                        
                        .col-lg-6
                            .box.wow.fadeInLeft
                                .icon
                                    i.fa.fa-bar-chart
                                h4.title
                                    a(href='') Тонкая настройка аналитики
                                p.description
                                    | Мы настроим вашу аналитическую систему (Я.Метрику или Google analytics) на отслеживание поведения пользователей у вас на портале. Это фундамент всей работы.
                                // button.btn.btn-light.float-right(data-toggle="modal", data-target="#analyticsModal") подробнее
                                
                        ///////////////////////////////////
                        .col-lg-6
                            .box.wow.fadeInRight
                                .icon
                                    i.fa.fa-picture-o
                                h4.title
                                    a(href='') Аналитика существующей аудитории и ее сегментация
                                p.description
                                    | На основании аналитических данных мы выделяем пользовательские сегменты, в каждом из которых строим поведенческий профиль.
                                // button.btn.btn-light.float-right(data-toggle="modal", data-target="#customerProfileModal") подробнее
                        .col-lg-6
                            .box.wow.fadeInLeft(data-wow-delay='0.2s')
                                .icon
                                    i.fa.fa-shopping-bag
                                h4.title
                                    a(href='') Креативы
                                p.description
                                    | Под каждый пользовательский сегмент на основании профиля пользователя делаем несколько креативов, с фокусом на продуктовые ценности именно этой продуктовой группы.
                                // button.btn.btn-light.float-right(data-toggle="modal", data-target="#creativeModal") подробнее

                        .col-lg-6
                            .box.wow.fadeInLeft
                                .icon
                                    i.fa.fa-bar-chart
                                h4.title
                                    a(href='') Запуск кампаний в контексте
                                p.description
                                    | Запускаем кампании в Я.Директ и Google Ads
                                // button.btn.btn-light.float-right(data-toggle="modal", data-target="#contextModal") подробнее

                        .col-lg-6
                            .box.wow.fadeInRight(data-wow-delay='0.2s')
                                .icon
                                    i.fa.fa-map
                                h4.title Запуск кампаний в facebook/instagram
                                    a(href='') 
                                p.description
                                    | Таргетируемся на выделенные пользовательские сегменты и запускаем сразу большое количество тестов в комбинации сегмент-таргетинг-креатив.
                                // button.btn.btn-light.float-right(data-toggle="modal", data-target="#campaignModal") подробнее
            //
              ==========================
              Our Portfolio Section
              ============================
            section#portfolio.wow.fadeInUp
                .container
                    .section-header
                        h2 Кейсы TBD
                        h4
                            | Ниже представлены только самые свежие, наиболее типовые кейсы.
                .container-fluid
                    .row 
                        .col-lg-3.col-md-4
                            .portfolio-item.wow.fadeInUp
                                a.pm-track(data-toggle="modal", data-target="#caseProductAnalyticsModal", data-category='cases', data-label='cases-prod-analysis')
                                    img(src='img/portfolio/case-product-management.png' alt='b2bс Product management')
                                    .portfolio-overlay
                                        .portfolio-info
                                            h2.wow.fadeInUp Полный цикл продуктовой аналитики и маркетинга
                        .col-lg-3.col-md-4
                            .portfolio-item.wow.fadeInUp
                                a.pm-track(data-toggle="modal", data-target="#caseAdvancedMarketingModal", data-category='cases', data-label='cases-tech-marketing')
                                    img(src='img/portfolio/case-product-market-research.png' alt='b2с Технологический маркетинг')
                                    .portfolio-overlay
                                        .portfolio-info
                                            h2.wow.fadeInUp TBD Технологический маркетинг
                        .col-lg-3.col-md-4
                            .portfolio-item.wow.fadeInUp
                                a.pm-track(data-toggle="modal", data-target="#caseYoulaDDDHypoModal")
                                    img(src='img/portfolio/case-tech-analysis.png' alt='Технический анализ', data-category='cases', data-label='cases-youla')
                                    .portfolio-overlay
                                        .portfolio-info
                                            h2.wow.fadeInUp Продуктовая аналитика Юлы
                        .col-lg-3.col-md-4
                            .portfolio-item.wow.fadeInUp
                                a.pm-track(data-toggle="modal", data-target="#caseProductMarketResearchModal", data-category='cases', data-label='cases-market-research')
                                    img(src='img/portfolio/case-product-market-research.png' alt='b2с исследование продуктового потенциала')
                                    .portfolio-overlay
                                        .portfolio-info
                                            h2.wow.fadeInUp Исследование потенциала отдельного продукта страховой компании
            // #portfolio

            section.call-to-action.wow.fadeInUp
                .container.container-fluid
                    .col-lg-6.text-center
                        h5.cta-title Остались вопросы? Готовы начать?
                    .col-lg-6.cta-center.d-flex
                        a.pm-track.cta-btn.align-middle(href='', data-toggle="modal", data-target="#feedbackModal", data-category='feedback-form', data-label='feedback-form-2') Свяжитесь со мной

            section
                .container
                    .section-header
                        h2 Я занимаюсь вашим продуктом в комплексе, а не отдельными его частями
                        h3 Все изменилось.
                    .row
                        .col-lg-12.content
                            ul.bm-ion-list
                                li
                                    i.ion-android-checkmark-circle
                                    | #[strong Digital-маркетинг] не вещь в себе. Чтобы получить результат, необходимо сочетание нескольких комплиментарных дисциплин:
                                li 
                                    i.ion-android-checkmark-circle
                                    | #[strong Product management]. Без знаний о том, как делаются продукты, как пользователи взаимодействуют с продуктом, без выстраивания воронки, CJM, JTBD не получить 
                                    | #[strong системного], #[strong долгосрочного], #[strong масштабируемого] эффекта от маркетинговых инвестиций и бюджетов.
                                li 
                                    i.ion-android-checkmark-circle
                                    | #[strong Аналитика]. Мало поставить код пикселя Я.Метрики или Google analytics на сайт и трэчить события на стандартных кнопках. Это не продуктовая аналитика. 
                                    | Нужно измерять поведение пользователей на всем протяжении воронки (а для этого воронка должна быть описана в продуктовых терминах&mdash;см.предыдущий пункт).
                                    | Без глубоких знаний веб-программирования здесь не обойтись, иначе есть серьезный риск попасть в ситуацию, когда неправильно будут регистрироваться события &rArr; недостоверные даты &rArr; недостоверные выводы.
                                li 
                                    i.ion-android-checkmark-circle
                                    | #[strong Маркетинг] в каналах. И только теперь все готово для маркетинговых кампаний и тестирования стоимости привлечения лида (клиента) в них. Каналы, в которых мы будем проводить тесты: контекст, соц.сети (VK, FB/IG), тизерные сети и программатики. 
                                    | Во всех есть нюансы, свои собственные пиксели, разметка событий для рекламных площадок.
                                li 
                                    i.ion-android-checkmark-circle
                                    | #[strong Тесты, тесты, тесты]. Мы будем запускать одновременно множество кампаний, смотреть, как пользователи из каналов взаимодействуют с воронкой, отключать плохо перфомящие кампании и направлять основные средства на лидеров.
                    .row.align-items-center
                        .col-lg-3.content
                            h1.icon.text-center
                                div.icon
                                    i.ion-checkmark-circled.avt-big-icon
                        .col-lg-9.content
                            h4 
                                | Вся построенная инфраструктура, документация к ней и понимание как работает каждая шестеренка в этом механизме останется с вами.
                                | Никаких &laquo;левых&raquo; личных кабинетов и &laquo;черных ящиков&raquo;, когда вы не знаете, что происходит и сколько #[strong НА САМОМ ДЕЛЕ] стоит клиент из канала. 

            //
              ==========================
              Our Team Section
              ============================
            section#team.wow.fadeInUp
                .container
                    .section-header
                        h2 Обо мне
                    .row
                        .col-lg-6
                            .member
                                .pic
                                    img(src='img/AVT.jpg' alt='Толкачев Антон Викторович')
                                .details
                                    h4 Антон Толкачев
                                    span CPO
                                    //.social
                                        a(href='')
                                            i.fa.fa-twitter
                                        a(href='')
                                            i.fa.fa-facebook
                                        a(href='')
                                            i.fa.fa-google-plus
                                        a(href='')
                                            i.fa.fa-linkedin
                                
                        .col-lg-6.personal-info
                            ul
                                li
                                    a.pm-track(href='mailto:avt@product-marketing.ru', data-category='about-contact', data-label='about-contact-email')
                                        i.fa.fa-envelope-o
                                        |&nbsp;avt@product-marketing.ru
                                
                                li
                                    a.pm-track.telegram(href='https://t.me/atolk_me', target='_blank', data-category='about-contact', data-label='about-contact-telegram')
                                        i.fa.fa-telegram 
                                        | &nbsp; telegram
                                    //a.whatsapp(href='https://api.whatsapp.com/send?phone=+79067577826', target='_blank', data-category='topbar-contact', data-label='topbar-whatsapp')
                                        i.fa.fa-whatsapp
                                li
                                    a.pm-track.facebook(href='https://www.facebook.com/tolkachev.me', target='_blank', data-category='about-contact', data-label='about-contact-facebook')
                                        i.fa.fa-facebook
                                        | &nbsp;facebook

                                li
                                    a.pm-track.web(href='https://atolk.me', target='_blank', data-category='about-contact', data-label='about-contact-web')
                                        i.fa.fa-globe
                                        | &nbsp;blog
            
            section
                .container
                    .section-header
                        h2 Почему вы можете на меня рассчитывать
                    .row
                        .col-lg-12.content
                            ul.bm-ion-list
                                li
                                    i.ion-android-checkmark-circle
                                    | #[strong Более 15 лет проектной работы] в самых разных ролях: от программиста до руководителя проекта#[br]
                                    | Через мои руки прошло не менее 100 проектов: от фантастических бизнес-планов, стартапов разного уровня зрелости, крепких и устойчивых малых бизнесов до крупных инфраструктурных проектов в области ГЧП.
                                    | 
                                li 
                                    i.ion-android-checkmark-circle
                                    | #[strong Продуктовая аналитика &mdash; моя сильная компетенция]#[br]
                                    | Следствие предыдущего пункта. 
                                    | Закончил школу продактов Аркадия Морейниса, курсы Product.Vision "Школа трекеров", академию проектного менеджмента EY и множество курсов условно &laquo;второго эшелона&raquo;.
                                    | Мной написаны десятки бизнес-планов, конкурентных анализов, инвестиционных обоснований, прогнозов, формализаций бизнес-процессов, технических заданий и прочей документации, необходимой для достижения проектных целей.
                                    | Такая проектная насмотренность позволяет задавать правильные вопросы, увидеть типовые ошибки реализации, выдвигать незашоренные отраслевой спецификой проектные гипотезы о продукте и пользователях.
                                    
                                li 
                                    i.ion-android-checkmark-circle
                                    | #[strong Техническая аналитика &mdash; моя сильная компетенция]#[br]
                                    | Во время занятий наукой (магистратура Финансовой академии) эта экспертиза, пожалуй, достигла своего пика. Посмотрите на мои научные публикации о микро-экономических моделях на #[a(href="https://elibrary.ru/author_items.asp?authorid=892224", target="_blank") elibrary.ru].
                                    | Мной построены с нуля десятки аналитических систем, не ограничиваясь digital стандартами де-факто: Я.Метрика и Google analytics (действительные сертификаты). У меня обширнейшая база знаний всех основных инструментов и их &laquo;подводных камней&raquo;, мы не будем тратить ваше время на их преодоление. Все они уже преодолены. Помимо этого я &laquo;оброс&raquo; всевозможными скриптами для решения типовых задач. И то, что менее подготовленный пользователь будет делать несколько дней, вооружившись гуглом, я сделаю за пару часов.
                                    | Скорее всего, такая сложность (предсказательное моделирование) при проведении поведенческого анализа не понадобится, и мы ограничимся т.н. разведывательным анализом: метрики, сегменты и срезы, когорты, воронка, атрибуция. Но если понадобится, то есть готовые инструменты.
                                li 
                                    i.ion-android-checkmark-circle
                                    | #[strong Маркетинг &mdash; моя сильная компетенция]#[br]
                                    | Маркетинга отдельно от продукта не существует. Когда вы занимаетесь продуктовым анализом, вы занимаетесь маркетингом. Когда вы выдвигаете гипотезы о пользовательской мотивации - это тоже продуктовый маркетинг. Когда вы делаете post-servey - это тоже инструмент продуктового маркетинга.
                                    | Хороший product manager всегда хороший маркетолог. Но не всегда наоборот. Чистый digital-маркетолог - это надстройка над интерфейсами рекламных каналов. В современном digital-маркетинге технологии (тесты, быстрые результаты и извлечение из них знаний) играют значительную роль. И поэтому...
                                    
                                li 
                                    i.ion-android-checkmark-circle
                                    | #[strong Технологии &mdash; моя сильная компетенция]#[br]
                                    | Владею всеми необходимыми инструментами и нахожусь на острие технологий. Там, где маркетолог будет давать задачу отделу программирования, я предпочту сделать это сам, чтобы получить результат быстрее. Скорость - это то, что действительно имеет значение для реального неспящего бизнеса.
                                    | Человек-швейцарский нож.
                    .row
                        .col-lg-12.content
                            h5
                                | Продуктовый менеджмент, техническая и продуктовая аналитика, маркетинг, технологии, аналитические системы и программирование настолько тесно вплетены друг в друга, что у вас совершенно точно должны быть закрыты все эти роли
                                | либо отделами, либо фрилансерами на аутсорсе. Либо #[br]
                                strong вы можете сэкономить деньги на зарплатах и время на коммуникациях между этими ролями и нанять одного сфокусированного на продакт-маркетинге профессионала.
          
            section#faq-section.wow.fadeInUp
                .container.py-3
                    .section-header
                        h2 Часто задаваемые вопросы
                    .row
                        .col-10.mx-auto
                            #faq.accordion
                                .card
                                    #heading1.card-header.p-2
                                        h5.mb-0
                                            button.pm-track.btn.btn-link.collapsed.text-left(type='button' data-toggle='collapse' data-target='#collapse1' aria-expanded='false' aria-controls='collapse1', data-category='faq', data-label='faq-1')
                                                | В: Сколько это будет стоить?
                                    #collapse1.collapse(aria-labelledby='heading1' data-parent='#faq')
                                        .card-body
                                            p Зависит от объема работы. Базовый кейс: аудит, базовая аналитика + кампании в каком-либо канале (контекст + FB) &mdash; ориентировочно 30-50к рублей.
                                            p Более масштабные задачи потребуют большей вовлеченности. О конкретных числах можно говорить после ознакомления с вашим продуктом, с вашими целями и составлением плана их достижения.
                                .card
                                    #heading2.card-header.p-2
                                        h5.mb-0
                                            button.pm-track.btn.btn-link.collapsed.text-left(type='button' data-toggle='collapse' data-target='#collapse2' aria-expanded='false' aria-controls='collapse2', data-category='faq', data-label='faq-2')
                                                | В: Вы все это делаете один?
                                    #collapse2.collapse(aria-labelledby='headingTwo' data-parent='#faq')
                                        .card-body
                                            | Ключевые задачи я делаю сам. На отдельные части я могу привлекать своих партнеров с вашего согласия. Или вести коммуникацию с вашими исполнителями, обеспечивая весь цикл коммуникации: от постановки задачи до контроля исполнения. Вы будете четко понимать, кто и что делает и сколько стоит эта работа.
                                .card
                                    #heading3.card-header.p-2
                                        h5.mb-0
                                            button.pm-track.btn.btn-link.collapsed.text-left(type='button' data-toggle='collapse' data-target='#collapse3' aria-expanded='false' aria-controls='collapse3', data-category='faq', data-label='faq-3')
                                                | В: Сколько это будет длиться?
                                    #collapse3.collapse(aria-labelledby='heading3' data-parent='#faq')
                                        .card-body
                                            | Зависит от зрелости вашей инфраструктуры. По практике: от 2 до 4 недель занимает получение первых результатов.
                                            | Я #[strong не беру одновременно больше двух проектов]. Важна ваша и собственная удовлетворенность в конечном результате. Вау-эффект.
                                .card
                                    #heading4.card-header.p-2
                                        h5.mb-0
                                            button.pm-track.btn.btn-link.collapsed.text-left(type='button' data-toggle='collapse' data-target='#collapse4' aria-expanded='false' aria-controls='collapse4', data-category='faq', data-label='faq-4')
                                                | В: Как это будет юридически структурировано?
                                    #collapse4.collapse(aria-labelledby='heading4' data-parent='#faq')
                                        .card-body
                                            | Договор с ИП + NDA. Предоплата 30-50% в зависимости от объема работ.
                                .card
                                    #heading5.card-header.p-2
                                        h5.mb-0
                                            button.pm-track.btn.btn-link.collapsed.text-left(type='button' data-toggle='collapse' data-target='#collapse5' aria-expanded='false' aria-controls='collapse5', data-category='faq', data-label='faq-5')
                                                | В: Давайте сначала вы приведете клиентов, а потом займемся продуктовой аналитикой, дадим доступы в наши системы.
                                    #collapse5.collapse(aria-labelledby='heading5' data-parent='#faq')
                                        .card-body
                                            | Нет. Это эффективно не работает. За шальными деньгами не гонюсь.
                                .card
                                    #heading6.card-header.p-2
                                        h5.mb-0
                                            button.pm-track.btn.btn-link.collapsed.text-left(type='button' data-toggle='collapse' data-target='#collapse6' aria-expanded='false' aria-controls='collapse6', data-category='faq', data-label='faq-6')
                                                | В: Как будет происходить взаимодействие?
                                    #collapse6.collapse(aria-labelledby='heading6' data-parent='#faq')
                                        .card-body
                                            | В любом удобном вам канале. Важно, чтобы вы обеспечили оперативную коммуникацию. Я буду отчитываться о каждом проделанном шаге, также вы будете получать уведомления от скриптов о преодолении важных вех или достижении локальных целей.
                                .card
                                    #heading7.card-header.p-2
                                        h5.mb-0
                                            button.pm-track.btn.btn-link.collapsed.text-left(type='button' data-toggle='collapse' data-target='#collapse7' aria-expanded='false' aria-controls='collapse7', data-category='faq', data-label='faq-7')
                                                | В: Некоторые моменты хотелось бы прояснить...
                                    #collapse7.collapse(aria-labelledby='heading7' data-parent='#faq')
                                        .card-body
                                            | Свяжитесь со мной любым удобным способом (#[a(href='', data-toggle="modal", data-target="#feedbackModal") форма связи]) и мы их устраним. )
 
            //
              ==========================
              Call To Action Section
              ============================
            section.call-to-action.wow.fadeInUp
                .container.container-fluid
                    .col-lg-6.text-center
                        h5.cta-title Остались вопросы? Готовы начать?
                    .col-lg-6.cta-center.d-flex
                        a.pm-track.cta-btn.align-middle(href='', data-toggle="modal", data-target="#feedbackModal", data-category='feedback-form', data-label='feedback-form-1') Свяжитесь со мной
                    //.row
                        //.col-lg-9.text-center.text-lg-left
                            h3.cta-title Свяжитесь со мной
                            p.cta-text
                                | Напишите мне в телеграм 
                        .col-lg-12.cta-btn-container.text-center
                            
            // .call-to-action
            
                                    

                     
            // #team
            //
              ==========================
              Contact Section
              ============================
            //section#contact.wow.fadeInUp
              .container
                .section-header
                  h2 Contact Us
                  p
                    | Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore
                .row.contact-info
                  .col-md-4
                    .contact-address
                      i.ion-ios-location-outline
                      h3 Address
                      address A108 Adam Street, NY 535022, USA
                  .col-md-4
                    .contact-phone
                      i.ion-ios-telephone-outline
                      h3 Phone Number
                      p
                        a(href='tel:+155895548855') +1 5589 55488 55
                  .col-md-4
                    .contact-email
                      i.ion-ios-email-outline
                      h3 Email
                      p
                        a(href='mailto:info@example.com') info@example.com
              // #google-map(data-latitude='40.713732' data-longitude='-74.0092704')
              .container
                .form
                  #sendmessage Your message has been sent. Thank you!
                  #errormessage
                  form.contactForm(action='' method='post' role='form')
                    .form-row
                      .form-group.col-md-6
                        input#name.form-control(type='text' name='name' placeholder='Your Name' data-rule='minlen:4' data-msg='Please enter at least 4 chars')
                        .validation
                      .form-group.col-md-6
                        input#email.form-control(type='email' name='email' placeholder='Your Email' data-rule='email' data-msg='Please enter a valid email')
                        .validation
                    .form-group
                      input#subject.form-control(type='text' name='subject' placeholder='Subject' data-rule='minlen:4' data-msg='Please enter at least 8 chars of subject')
                      .validation
                    .form-group
                      textarea.form-control(name='message' rows='5' data-rule='required' data-msg='Please write something for us' placeholder='Message')
                      .validation
                    .text-center
                      button(type='submit') Send Message
                
            // #contact
        //
          ==========================
          Footer
          ============================
        footer#footer
            .container
                .copyright
                    | &copy; Copyright 
                    strong Reveal
                    | . All Rights Reserved
                .credits
                    //
                      All the links in the footer should remain intact.
                      You can delete the links only if you purchased the pro version.
                      Licensing information: https://bootstrapmade.com/license/
                      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
                    a.pm-track(href='https://bootstrapmade.com/', target='_blank', data-category='footer', data-label='footer-theme') Free Bootstrap Templates
                    |  by BootstrapMade
        // #footer
        a.pm-track.back-to-top(href='#', data-category='navmenu', data-label='navmenu-gototop')
            i.fa.fa-chevron-up
        // JavaScript Libraries
        script(src='lib/jquery/jquery.min.js')
        script(src='lib/jquery/jquery-migrate.min.js')
        script(src='lib/bootstrap/js/bootstrap.bundle.min.js')
        script(src='lib/easing/easing.min.js')
        script(src='lib/superfish/hoverIntent.js')
        script(src='lib/superfish/superfish.min.js')
        script(src='lib/wow/wow.min.js')
        script(src='lib/owlcarousel/owl.carousel.min.js')
        script(src='lib/magnific-popup/magnific-popup.min.js')
        script(src='lib/sticky/sticky.js')
        // Contact Form JavaScript File
        script(src='contactform/contactform.js')
        // Template Main Javascript File
        script(src='js/main.js')      

        // context Modal
        #feedbackModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='feedbackModalLabel' aria-hidden='true')
            .modal-dialog.modal-lg(role='document')
                .modal-content
                    .modal-header
                        h5#feedbackModalLabel.modal-title Форма связи
                        button.pm-track.close(type='button' data-dismiss='modal' aria-label='Close', data-category='modal-feedback', data-label='modal-feedback-topclose')
                          span(aria-hidden='true') &times;
                    .modal-body
                        div.alert.alert-info Вы можете связаться со мной любым удобным способом: 
                            ul
                                li телеграм
                                li facebook
                                li чат внизу слева экрана
                            | или оставить заявку в форме ниже.
                        div | <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeGbPd28f4ugTprxcL24BJDPe2YI8KYxi2pScTXmYwWcaeHFw/viewform?embedded=true" width="100%" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                            

                    .modal-footer
                        button.pm-track.btn.btn-secondary(type='button' data-dismiss='modal', data-category='modal-feedback', data-label='modal-feedback-bottomclose') Закрыть

        #caseProductAnalyticsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='productAnalyticsModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#productAnalyticsModalLabel.modal-title B2B2C Контент-маркетинг агенство
                        button.pm-track.close(type='button' data-dismiss='modal' aria-label='Close', data-category='modal-prodAnalytics', data-action='close', data-label='modal-prodAnalytics-topclose')
                          span(aria-hidden='true') &times;
                    .modal-body
                        div.alert.alert-primary
                            h3 Контент-продакшн, контент-маркетинговая компания
                        div Полный цикл продуктового маркетинга: CJM, мульти-доменная атрибуция, кастомная отчетность, тесты каналов.
                            ul
                                li Стоимость привлечения пользователя снизилась в 1.5-2 раза.
                                li Эффективность маркетинговых бюджетов выросла в 3 раза.
                                li Компания сделала несколько маркетинговых пивотов, переупаковав ценностное предложение.
                            | <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSIzNftYTXau5ZbvEpB-FS0uqKXwcpIRvVzno_ueW3iFNYArV0eyD-d4moACZmmbWWU17wTtFauFd3N/embed?start=true&loop=false&delayms=5000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                        div.text-center
                            a.pm-track.text-reset(href='https://docs.google.com/presentation/d/e/2PACX-1vSIzNftYTXau5ZbvEpB-FS0uqKXwcpIRvVzno_ueW3iFNYArV0eyD-d4moACZmmbWWU17wTtFauFd3N/pub?start=false&loop=false&delayms=5000', target='_blank', data-category='modal-prodAnalytics', data-label='modal-prodAnalytics-slidelink') полноэкранная версия в новом окне
                    .modal-footer
                        button.pm-track.btn.btn-secondary(type='button' data-dismiss='modal', data-category='modal-prodAnalytics', data-action='close', data-label='modal-prodAnalytics-bottomclose') Закрыть
        #caseProductMarketResearchModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='caseProductMarketResearchModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#caseProductMarketResearchModalLabel.modal-title B2C Страховая компания
                        button.pm.track.close(type='button' data-dismiss='modal' aria-label='Close', data-category='modal-marketResearch', data-action='close', data-label='modal-marketResearch-top-close')
                          span(aria-hidden='true') &times;
                    .modal-body
                        div.alert.alert-primary
                            h3 Страховая компания в поисках новых каналов распространения продукта
                            h5 Хороший пример, с чего можно начать, когда не знаешь, с чего начать.
                        div Из презентации вырезаны финансовые данные, юнит-экономика и другие чувствительные данные. Цель этой работой не скрупулезное исследование в духе консалтинговых компаний, а быстрый ресеч, брейнсторминг и трекинг внутренних аналитических ресурсов и их выводов.
                            ul
                                li Отказались от идеи вывода в онлайн единственного, атомарного продукта (экономия более 2 млн.руб. без учета внутренних ресурсов).
                                li Приняли решения о комплексном подходе к экспансии в каналы онлайн продаж.
                            | <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vS4BD8cHDD2Zu552JS3_tnxnCTrWxYIwBdiNEcbSX92gMeFFfV3w_BHRGmV8qDem60a2FZzjvgOTDUO/embed?start=false&loop=false&delayms=5000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                        div.text-center
                            a.pm-track.text-reset(href='https://docs.google.com/presentation/d/e/2PACX-1vS4BD8cHDD2Zu552JS3_tnxnCTrWxYIwBdiNEcbSX92gMeFFfV3w_BHRGmV8qDem60a2FZzjvgOTDUO/pub?start=false&loop=false&delayms=5000', target='_blank', data-category='modal-marketResearch', data-label='modal-marketResearch-slidelink') полноэкранная версия в новом окне
                    .modal-footer
                        button.pm-track.btn.btn-secondary(type='button' data-dismiss='modal', data-category='modal-marketResearch', data-action='close', data-label='modal-marketResearch-bottomclose') Закрыть
        
        #caseYoulaDDDHypoModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='caseYoulaDDDHypoModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#caseYoulaDDDHypoModalLabel.modal-title Конкурс технического анализа mail.ru
                        button.pm-track.close(type='button' data-dismiss='modal' aria-label='Close', data-category='modal-youla', data-action='close', data-label='modal-youla-topclose')
                          span(aria-hidden='true') &times;
                    .modal-body
                        div.alert.alert-primary
                            h3 Как продуктовая аналитика в условиях крайне ограниченных данных выводится из технического анализа
                            h5 
                                a(href='https://vc.ru/promo/83456-youla-search', target='_blank') Пост о конкурсе на vc.ru
                        div К сожалению, я не победил. ) Я пришел к выводу, что на основании данных такого качества, не проверив их происхождение и достоверность, строить гипотезы категорически нельзя, и логически ушел в продуктовую аналитику, в то время как ожидания организаторов оказались в демонстрации узкого владения инструментами технического анализа.
                            | <iframe src="https://drive.google.com/file/d/1-6FzMR6HXLmKXLSiy1-OyGefzxLFzq6C/preview" width="466" height="350"></iframe>
                        div.text-center
                            a.pm-track.text-reset(href='https://drive.google.com/file/d/1-6FzMR6HXLmKXLSiy1-OyGefzxLFzq6C/preview', target='_blank', data-category='modal-youla', data-label='modal-youla-slidelink') полноэкранная версия в новом окне
                    .modal-footer
                        button.pm-track.btn.btn-secondary(type='button' data-dismiss='modal', data-category='modal-youla', data-action='close', data-label='modal-youla-bottomclose') Закрыть
        #caseAdvancedMarketingModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='caseAdvancedMarketingModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#caseAdvancedMarketingModalLabel.modal-title B2C Технологический маркетинг
                        button.pm-track.close(type='button', data-dismiss='modal', aria-label='Close', data-category='modal-techMarketing', data-action='close', data-label='modal-techMarketing-topclose')
                          span(aria-hidden='true') &times;
                    .modal-body
                        div.alert.alert-primary
                            h3 TBD
                        //-     h3 Как продуктовая аналитика в условиях крайне ограничиных данных выводится из технического анализа
                        //-     h5 
                        //-         a(href='https://vc.ru/promo/83456-youla-search', target='_blank') Пост о конкурсе на vc.ru
                        //- div К сожалению, я не победил. ) Я пришел к выводу, что на основании данных такого качества, не проверив их происхождение и достоверность, строить гипотезы категорически нельзя и логически ушел в продуктовую аналитику, в то время как ожидания организаторов оказались в демонстрации узкого владения инструментами технического анализа.
                        //-     | <iframe src="https://drive.google.com/file/d/1-6FzMR6HXLmKXLSiy1-OyGefzxLFzq6C/preview" width="466" height="350"></iframe>
                        //- div.text-center
                        //-     a.text-reset(href='https://drive.google.com/file/d/1-6FzMR6HXLmKXLSiy1-OyGefzxLFzq6C/preview', target='_blank') полноэкранная версия в новом окне                            
                    .modal-footer
                        button.pm-track.btn.btn-secondary(type='button' data-dismiss='modal', data-category='modal-techMarketing', data-action='close', data-label='modal-techMarketing-bottomclose') Закрыть

        // Start of Tawk.to Script 
        script(type="text/javascript")
            | var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            | (function(){
            | var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            | s1.async=true;
            | s1.src='https://embed.tawk.to/5ddfd124d96992700fc9b99f/default';
            | s1.charset='UTF-8';
            | s1.setAttribute('crossorigin','*');
            | s0.parentNode.insertBefore(s1,s0);
            | })();
