doctype html
html
    head
        meta(charset='utf-8')
        title Продакт-маркетинг - аналитика и маркетинг, ориентированная на ваш продукт
        meta(content='width=device-width, initial-scale=1.0' name='viewport')
        meta(content='Product marketing, продакт маркетинг, Product management, продакт менеджемент, продакт менеджер, оптимизация, аналитика, SEO, яндекс метрика, google analytics, facebook' name='keywords')
        meta(content='' name='description')
        // Favicons
        link(href='img/favicon.png' rel='icon')
        link(href='img/apple-touch-icon.png' rel='apple-touch-icon')
        // Google Tag Manager
        script 
            | (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            | new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            | j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            | 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            | })(window,document,'script','dataLayer','GTM-W28RDJ4');

        // Google Fonts
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700' rel='stylesheet')
        // Bootstrap CSS File
        link(href='lib/bootstrap/css/bootstrap.min.css' rel='stylesheet')
        // Libraries CSS Files
        link(href='lib/font-awesome/css/font-awesome.min.css' rel='stylesheet')
        link(href='lib/animate/animate.min.css' rel='stylesheet')
        link(href='lib/ionicons/css/ionicons.min.css' rel='stylesheet')
        link(href='lib/owlcarousel/assets/owl.carousel.min.css' rel='stylesheet')
        link(href='lib/magnific-popup/magnific-popup.css' rel='stylesheet')
        link(href='lib/ionicons/css/ionicons.min.css' rel='stylesheet')
        // Main Stylesheet File
        link(href='css/style.css' rel='stylesheet')
        link(href='css/bm.css' rel='stylesheet')
    body   
        #preloader
        //
          ==========================
          Top Bar
          ============================

        section#topbar.d-none.d-lg-block
            .container.clearfix
                .contact-info.float-left
                    i.fa.fa-envelope-o
                    a(href='mailto:avt@product-marketing.ru') avt@product-marketing.ru
                    
                .social-links.float-right
                    // a.twitter(href='#')
                        i.fa.fa-twitter
                    a.phone(href="tel:+79067577826", target="_blank") 
                        i.fa.fa-phone +7 (906) 757-78-26
                    
                    a.telegram(href='https://t.me/atolk_me', target='_blank')
                        i.fa.fa-telegram
                    a.whatsapp(href='https://api.whatsapp.com/send?phone=+79067577826', target='_blank')
                        i.fa.fa-whatsapp
                    a.facebook(href='https://www.facebook.com/tolkachev.me', target='_blank')
                        i.fa.fa-facebook
                    // a.instagram(href='#')
                        i.fa.fa-instagram
                    // a.google-plus(href='#')
                        i.fa.fa-google-plus
                    // a.linkedin(href='#')
                        i.fa.fa-linkedin
        //
            ==========================
            Header
            ============================
        header#header
            .container
                #logo.pull-left
                    h1
                        a.scrollto(href='#body') Product
                            span Marketing
                        // Uncomment below if you prefer to use an image logo
                        // <a href="#body"><img src="img/logo.png" alt="" title="" /></a>
                nav#nav-menu-container
                    ul.nav-menu
                        li.menu-active 
                            a(href='#body') В начало
                        li
                            a(href='#about') ЧТО мы делаем
                        li
                            a(href='#services') КАК мы делаем
                        li
                            a(href='#portfolio') Кейсы
                        // li
                            a(href='#team') Team
                        // li.menu-has-children
                            a(href='') Drop Down
                            ul
                            li
                                a(href='#') Drop Down 1
                            li
                                a(href='#') Drop Down 3
                            li
                                a(href='#') Drop Down 4 
                            li
                                a(href='#') Drop Down 5
                        li
                            a(href='#contact') Контакты
                // #nav-menu-container
        // #header
        //
            ==========================
            Intro Section
            ============================
        section#intro.wow.fadeIn
            .intro-content
                img(src='/img/product-marketing-circle.svg')
                //- h2 Создаем потоки
                //-     br
                //-     span ваших клиентов!
                //- div
                //-     a.btn-get-started.scrollto(href='#about') Приступить
                //-     a.btn-projects.scrollto(href='#portfolio') Наши проекты
            #intro-carousel.owl-carousel
                .item(style="background-image: url('img/intro-carousel/1.jpg');")
                .item(style="background-image: url('img/intro-carousel/2.jpg');")
                .item(style="background-image: url('img/intro-carousel/3.jpg');")
                .item(style="background-image: url('img/intro-carousel/4.jpg');")
                .item(style="background-image: url('img/intro-carousel/5.jpg');")
        // #intro
        main#main
            //
                ==========================
                About Section
                ============================
            section#about.wow.fadeInUp
                .container
                    .row
                        .col-lg-6.content.pm-bad-news
                            h2 Что не так с привычным маркетингом
                            h3
                                | Три фактора успеха
                            ul
                                li
                                    i.ion-android-cancel
                                    | Основывается на субъективном, поверхностном &laquo;понимании&raquo; продукта, сегментации и потребностей ваших клиентов.
                                li
                                    i.ion-android-cancel
                                    | Режим &laquo;черного ящика&raquo;. После окончания кампании у вас остались в лучшем случае клиенты, в худщем &mdash; потерянные деньги и ложное понимание неработающего канала.
                                li
                                    i.ion-android-cancel
                                    | Игнорирование технологической составляющей маркетинговых кампаний, решений на основе данных и тестов.
                        .col-lg-6.content
                            h2 Продуктовый маркетинг
                            h3
                                | Три фактора успеха
                            ul
                                li
                                    i.ion-android-checkmark-circle
                                    | Глубокое погружение в продукт и отрасль. В результаты прошедших кампаний. Построение клиентской воронки, CJM, в перфоманс конкурентов. Это бизис, необходимый, для выдвижения правильных продуктовых гипотез.
                                li
                                    i.ion-android-checkmark-circle
                                    | Тонкая настройка аналитики и дашбордов. Метрики важные для вашего бизнеса, а не для маркетолога. Позволит увидеть поведение пользователей на вашем сайте, произвести сегментацию и лучше их узнать. Ощущение продукта позволяет выдвигать гипотезы. Объективные, скурпулезно собранные данные - подтверждать или опровергать их. Вся аналитическая инфраструктура и знание КАК и ПОЧЕМУ это работает останется с вами навсегда.
                                li
                                    i.ion-android-checkmark-circle
                                    | Тестирование, тестирование, тестирование. Не существует единственного гениального правильного решения бизнес-задачи. Существуют только гипотезы и объективные статистически значимые данные их подтверждающие. Чем больше мы проведем тестов в единицу времени, тем скорее отыщется масштабируемый канал привлечения клиентов, а ваше понимание продукта и пользователях обоготится знаниями, основанными на данных.
            // #about
            //
                ==========================
                About Section
                ============================
            //- section#about.wow.fadeInUp
            //-     .container
            //-         .row
            //-             .col-lg-6.about-img
            //-                 img(src='img/about-img.jpg' alt='')
            //-             .col-lg-6.content
            //-                 h2 Как мы создаем потоки клиентов для вас
            //-                 h3
            //-                     | Три фактора успеха
            //-                 ul
            //-                     li
            //-                         i.ion-android-checkmark-circle
            //-                         | Тонкая настройка аналитики. Позволит увидеть поведение пользователей на вашем сайте, произвести сегментацию и лучше их узнать.
            //-                     li
            //-                         i.ion-android-checkmark-circle
            //-                         | Таргетинг и креативы. Для разных сегментов ваших пользователей важны различные ценности вашего продукта.
            //-                     li
            //-                         i.ion-android-checkmark-circle
            //-                         | Тестирование, тестирование, тестирование. Мы работаем сразу с большим количеством гипотез, чтобы выбрать из них действительно лучшие.
            // #about
            //
              ==========================
              Services Section
              ============================
            section#services
                .container
                    .section-header
                        h2 Декомпозиция задач
                        h3 Это не про маркетинг, это про ваш продукт.
                        h3 Продуктовые инсайты и маркетинг &mdash; неделимые сущности.
                    .row
                        .col-lg-12.content
                            ul.bm-ion-list
                                li
                                    i.ion-android-checkmark-circle
                                    | Ниже описан план максимум. Никакого булшита и впаривания. Если у вас что-то из этого уже есть (наверняка!) или что-то не нужно, никто не будет вам ничего впаривать.
                                li
                                    i.ion-android-checkmark-circle
                                    | Тем не менее есть блоки, которыми пожертвовать нельзя. 
                                    | Например, я не увижу у вас на лэндинге настроенных аналитических событий, а вы настаиваете что все работает идеально и вы ни в чем не нуждаетесь, то я не возьмусь, т.к. в таких условиях результатах не достичь.
                                li
                                    i.ion-android-checkmark-circle
                                    | Все делается на ваших аккаунтах максимально прозрачно. Все доработки остануться с вами.
                                    | Я не работаю в режиме "черного ящика". Вы будете понимать каждый шаг, а я буду терпеливо объяснять почему я делаю так, а не иначе. Часть моей экспертизы естественным образом перейдет к вам. Какая это часть - зависит только от вашего желания. Я максимально открыт.

                    .row
                        .col-lg-6
                            .box.wow.fadeInLeft
                                .icon
                                    i.fa.fa-bar-chart
                                h4.title
                                    a(href='') Ui/Ux и SEO аудит лэндинга
                                p.description
                                    | Лэндинг - это витрина вашего продукта. Он обязательно должен быть удобный, логичный и позволять совершить целевое действие. Если у вас нет лэндинга, мы можем быстро и дешево сделать его для вас.
                                button.btn.btn-light.float-right(data-toggle="modal", data-target="#feedbackModal") подробнее
                        
                        .col-lg-6
                            .box.wow.fadeInLeft
                                .icon
                                    i.fa.fa-bar-chart
                                h4.title
                                    a(href='') Тонкая настройка аналитики
                                p.description
                                    | Мы настроим вашу аналитическую систему (Я.Метрику или Google analytics) на отслеживание поведения пользователей у вас на портале. Это фундамент всей работы.
                                button.btn.btn-light.float-right(data-toggle="modal", data-target="#analyticsModal") подробнее
                                
                        ///////////////////////////////////
                        .col-lg-6
                            .box.wow.fadeInRight
                                .icon
                                    i.fa.fa-picture-o
                                h4.title
                                    a(href='') Аналитика существующей аудитории и ее сегментация
                                p.description
                                    | На основании аналитических данных мы выделяем пользовательские сегменты, в каждом из которых строим поведенческий профиль.
                                button.btn.btn-light.float-right(data-toggle="modal", data-target="#customerProfileModal") подробнее
                        .col-lg-6
                            .box.wow.fadeInLeft(data-wow-delay='0.2s')
                                .icon
                                    i.fa.fa-shopping-bag
                                h4.title
                                    a(href='') Креативы
                                p.description
                                    | Под каждый пользовательский сегмент на основании профиля пользователя делаем несколько креативов, с фокусом на продуктовые ценности именно этой продуктовой группы.
                                button.btn.btn-light.float-right(data-toggle="modal", data-target="#creativeModal") подробнее

                        .col-lg-6
                            .box.wow.fadeInLeft
                                .icon
                                    i.fa.fa-bar-chart
                                h4.title
                                    a(href='') Запуск кампаний в контексте
                                p.description
                                    | Запускаем кампании в Я.Директ и Google Ads
                                button.btn.btn-light.float-right(data-toggle="modal", data-target="#contextModal") подробнее

                        .col-lg-6
                            .box.wow.fadeInRight(data-wow-delay='0.2s')
                                .icon
                                    i.fa.fa-map
                                h4.title Запуск кампаний в facebook/instagram
                                    a(href='') 
                                p.description
                                    | Таргетируемся на выделенные ползовательские сегменты и запускаем сразу большое количество тестов в комбинации сегемент-таргетинг-креатив.
                                button.btn.btn-light.float-right(data-toggle="modal", data-target="#campaignModal") подробнее
            // #services
            
            // 
            section
                .container
                    .section-header
                        h2 Я занимаюсь вашим продуктом в комплексе, а не отдельными его частями
                        h3 Все изменилось.
                    .row
                        .col-lg-12.content
                            ul.bm-ion-list
                                li
                                    i.ion-android-checkmark-circle
                                    | #[strong Digital-маркетинг] не вещь в себе. Чтобы получить результат, необходимо сочетание нескольких комплиментарных дисциплин:
                                li 
                                    i.ion-android-checkmark-circle
                                    | #[strong Product management]. Без знаний о том как делаются продукты, как пользователи взаимодействуют с продуктом, без выстраивания воронки, CJM, JTBD, не получить 
                                    | #[strong системный], #[strong долгосрочный], #[strong масштабируемый] эффект от маркетинговых инвестиций и бюджетов.
                                li 
                                    i.ion-android-checkmark-circle
                                    | #[strong Аналитика]. Мало поставить код пикселя Я.Метрики или Google analytics на сайт и тречить события на стандартных кнопках. Это не продуктовая аналитика. 
                                    | Нужно измерять поведение пользователей на всем протяжении воронки (а для этого воронка должна быть описана в продуктовых терминах - см.предудыщий пункт).
                                    | Без глубоких знаний веб-программирования здесь не обойтись, иначе есть серьезный риск попасть в ситуацию, когда неправильно будут трэкаться события &rArr; недостоверные даты &rArr; недостоверные выводы.
                                li 
                                    i.ion-android-checkmark-circle
                                    | #[strong Маркетинг] в каналах. И только теперь все готово для маркетинговых кампаний и тестирования стоимости привлечения лида (клиента) в них. Каналы в которых мы будем проводить тесты: контекст, соц.сети (VK, FB/IG), тизерные сети и программатики. 
                                    | Во всех есть нюансы, свои собственные пиксели, разметка событий для реклмных площадок.
                                li 
                                    i.ion-android-checkmark-circle
                                    | #[strong Тесты, тесты, тесты]. Мы будем запускать одновременно множество кампаний, смотреть как пользователи из каналов взаимодействуют с воронкой, отключать плохо перфомящие кампании и направлять основные средства на лидеров.
                    .row.align-items-center
                        .col-lg-3.content
                            h1.icon.text-center
                                div.icon
                                    i.ion-checkmark-circled.avt-big-icon
                        .col-lg-9.content
                            h4 
                                | Вся построенная инфраструктура, документация к ней и понимание как работает каждая шестеренка в этом механизме останется с вами.
                                | Никаких &laquo;левых&raquo; личных кабинетов и &laquo;черных ящиков&raquo;, когда вы не знаете что происходит и сколько #[strong НА САМОМ ДЕЛЕ] стоит клиент из канала. 

            
            //
              ==========================
              Clients Section
              ============================
            // section#clients.wow.fadeInUp
              .container
                .section-header
                  h2 Clients
                  p
                    | Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore
                .owl-carousel.clients-carousel
                  img(src='img/clients/client-1.png' alt='')
                  img(src='img/clients/client-2.png' alt='')
                  img(src='img/clients/client-3.png' alt='')
                  img(src='img/clients/client-4.png' alt='')
                  img(src='img/clients/client-5.png' alt='')
                  img(src='img/clients/client-6.png' alt='')
                  img(src='img/clients/client-7.png' alt='')
                  img(src='img/clients/client-8.png' alt='')
            // #clients
            //
              ==========================
              Our Portfolio Section
              ============================
            section#portfolio.wow.fadeInUp
              .container
                .section-header
                  h2 Кейсы TBD
                  p
                    | Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore
              .container-fluid
                .row.no-gutters
                  .col-lg-3.col-md-4
                    .portfolio-item.wow.fadeInUp
                      a.portfolio-popup(href='img/portfolio/1.jpg')
                        img(src='img/portfolio/1.jpg' alt='')
                        .portfolio-overlay
                          .portfolio-info
                            h2.wow.fadeInUp Facebook/instagram кампания
                  .col-lg-3.col-md-4
                    .portfolio-item.wow.fadeInUp
                      a.portfolio-popup(href='img/portfolio/2.jpg')
                        img(src='img/portfolio/2.jpg' alt='')
                        .portfolio-overlay
                          .portfolio-info
                            h2.wow.fadeInUp Portfolio Item 2
                  .col-lg-3.col-md-4
                    .portfolio-item.wow.fadeInUp
                      a.portfolio-popup(href='img/portfolio/3.jpg')
                        img(src='img/portfolio/3.jpg' alt='')
                        .portfolio-overlay
                          .portfolio-info
                            h2.wow.fadeInUp Portfolio Item 3
                  .col-lg-3.col-md-4
                    .portfolio-item.wow.fadeInUp
                      a.portfolio-popup(href='img/portfolio/4.jpg')
                        img(src='img/portfolio/4.jpg' alt='')
                        .portfolio-overlay
                          .portfolio-info
                            h2.wow.fadeInUp Portfolio Item 4
                  .col-lg-3.col-md-4
                    .portfolio-item.wow.fadeInUp
                      a.portfolio-popup(href='img/portfolio/5.jpg')
                        img(src='img/portfolio/5.jpg' alt='')
                        .portfolio-overlay
                          .portfolio-info
                            h2.wow.fadeInUp Portfolio Item 5
                  .col-lg-3.col-md-4
                    .portfolio-item.wow.fadeInUp
                      a.portfolio-popup(href='img/portfolio/6.jpg')
                        img(src='img/portfolio/6.jpg' alt='')
                        .portfolio-overlay
                          .portfolio-info
                            h2.wow.fadeInUp Portfolio Item 6
                  .col-lg-3.col-md-4
                    .portfolio-item.wow.fadeInUp
                      a.portfolio-popup(href='img/portfolio/7.jpg')
                        img(src='img/portfolio/7.jpg' alt='')
                        .portfolio-overlay
                          .portfolio-info
                            h2.wow.fadeInUp Portfolio Item 7
                  .col-lg-3.col-md-4
                    .portfolio-item.wow.fadeInUp
                      a.portfolio-popup(href='img/portfolio/8.jpg')
                        img(src='img/portfolio/8.jpg' alt='')
                        .portfolio-overlay
                          .portfolio-info
                            h2.wow.fadeInUp Portfolio Item 8
            // #portfolio
            //
              ==========================
              Testimonials Section
              ============================
            section#testimonials.wow.fadeInUp
              .container
                .section-header
                  h2 Отзывы
                  p
                    | Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore
                .owl-carousel.testimonials-carousel
                  .testimonial-item
                    p
                      img.quote-sign-left(src='img/quote-sign-left.png' alt='')
                      |                 Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                      img.quote-sign-right(src='img/quote-sign-right.png' alt='')
                    img.testimonial-img(src='img/testimonial-1.jpg' alt='')
                    h3 Saul Goodman
                    h4 Ceo &amp; Founder
                  .testimonial-item
                    p
                      img.quote-sign-left(src='img/quote-sign-left.png' alt='')
                      |                 Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                      img.quote-sign-right(src='img/quote-sign-right.png' alt='')
                    img.testimonial-img(src='img/testimonial-2.jpg' alt='')
                    h3 Sara Wilsson
                    h4 Designer
                  .testimonial-item
                    p
                      img.quote-sign-left(src='img/quote-sign-left.png' alt='')
                      |                 Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                      img.quote-sign-right(src='img/quote-sign-right.png' alt='')
                    img.testimonial-img(src='img/testimonial-3.jpg' alt='')
                    h3 Jena Karlis
                    h4 Store Owner
                  .testimonial-item
                    p
                      img.quote-sign-left(src='img/quote-sign-left.png' alt='')
                      |                 Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                      img.quote-sign-right(src='img/quote-sign-right.png' alt='')
                    img.testimonial-img(src='img/testimonial-4.jpg' alt='')
                    h3 Matt Brandon
                    h4 Freelancer
                  .testimonial-item
                    p
                      img.quote-sign-left(src='img/quote-sign-left.png' alt='')
                      |                 Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                      img.quote-sign-right(src='img/quote-sign-right.png' alt='')
                    img.testimonial-img(src='img/testimonial-5.jpg' alt='')
                    h3 John Larson
                    h4 Entrepreneur
            // #testimonials
            //
              ==========================
              Call To Action Section
              ============================
            section#call-to-action.wow.fadeInUp
                .container
                    .row
                        .col-lg-9.text-center.text-lg-left
                            h3.cta-title Свяжитесь со мной
                            p.cta-text
                                | Напишите мне в телеграм 
                        .col-lg-3.cta-btn-container.text-center
                            a.cta-btn.align-middle(href='#') Call To Action
            // #call-to-action
            //
              ==========================
              Our Team Section
              ============================
            section#team.wow.fadeInUp
              .container
                .section-header
                  h2 Обо мне
                .row
                  .col-lg-3.col-md-6
                    .member
                      .pic
                        img(src='img/team-1.jpg' alt='')
                      .details
                        h4 Walter White
                        span Chief Executive Officer
                        .social
                          a(href='')
                            i.fa.fa-twitter
                          a(href='')
                            i.fa.fa-facebook
                          a(href='')
                            i.fa.fa-google-plus
                          a(href='')
                            i.fa.fa-linkedin
                  .col-lg-3.col-md-6
                    .member
                      .pic
                        img(src='img/team-2.jpg' alt='')
                      .details
                        h4 Sarah Jhinson
                        span Product Manager
                        .social
                          a(href='')
                            i.fa.fa-twitter
                          a(href='')
                            i.fa.fa-facebook
                          a(href='')
                            i.fa.fa-google-plus
                          a(href='')
                            i.fa.fa-linkedin
                  .col-lg-3.col-md-6
                    .member
                      .pic
                        img(src='img/team-3.jpg' alt='')
                      .details
                        h4 William Anderson
                        span CTO
                        .social
                          a(href='')
                            i.fa.fa-twitter
                          a(href='')
                            i.fa.fa-facebook
                          a(href='')
                            i.fa.fa-google-plus
                          a(href='')
                            i.fa.fa-linkedin
                  .col-lg-3.col-md-6
                    .member
                      .pic
                        img(src='img/team-4.jpg' alt='')
                      .details
                        h4 Amanda Jepson
                        span Accountant
                        .social
                          a(href='')
                            i.fa.fa-twitter
                          a(href='')
                            i.fa.fa-facebook
                          a(href='')
                            i.fa.fa-google-plus
                          a(href='')
                            i.fa.fa-linkedin
            // #team
            //
              ==========================
              Contact Section
              ============================
            section#contact.wow.fadeInUp
              .container
                .section-header
                  h2 Contact Us
                  p
                    | Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore
                .row.contact-info
                  .col-md-4
                    .contact-address
                      i.ion-ios-location-outline
                      h3 Address
                      address A108 Adam Street, NY 535022, USA
                  .col-md-4
                    .contact-phone
                      i.ion-ios-telephone-outline
                      h3 Phone Number
                      p
                        a(href='tel:+155895548855') +1 5589 55488 55
                  .col-md-4
                    .contact-email
                      i.ion-ios-email-outline
                      h3 Email
                      p
                        a(href='mailto:info@example.com') info@example.com
              // #google-map(data-latitude='40.713732' data-longitude='-74.0092704')
              .container
                .form
                  #sendmessage Your message has been sent. Thank you!
                  #errormessage
                  form.contactForm(action='' method='post' role='form')
                    .form-row
                      .form-group.col-md-6
                        input#name.form-control(type='text' name='name' placeholder='Your Name' data-rule='minlen:4' data-msg='Please enter at least 4 chars')
                        .validation
                      .form-group.col-md-6
                        input#email.form-control(type='email' name='email' placeholder='Your Email' data-rule='email' data-msg='Please enter a valid email')
                        .validation
                    .form-group
                      input#subject.form-control(type='text' name='subject' placeholder='Subject' data-rule='minlen:4' data-msg='Please enter at least 8 chars of subject')
                      .validation
                    .form-group
                      textarea.form-control(name='message' rows='5' data-rule='required' data-msg='Please write something for us' placeholder='Message')
                      .validation
                    .text-center
                      button(type='submit') Send Message
            // #contact
        //
          ==========================
          Footer
          ============================
        footer#footer
          .container
            .copyright
              | &copy; Copyright 
              strong Reveal
              | . All Rights Reserved
            .credits
              //
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
              a(href='https://bootstrapmade.com/') Free Bootstrap Templates
              |  by BootstrapMade
        // #footer
        a.back-to-top(href='#')
          i.fa.fa-chevron-up
        // JavaScript Libraries
        script(src='lib/jquery/jquery.min.js')
        script(src='lib/jquery/jquery-migrate.min.js')
        script(src='lib/bootstrap/js/bootstrap.bundle.min.js')
        script(src='lib/easing/easing.min.js')
        script(src='lib/superfish/hoverIntent.js')
        script(src='lib/superfish/superfish.min.js')
        script(src='lib/wow/wow.min.js')
        script(src='lib/owlcarousel/owl.carousel.min.js')
        script(src='lib/magnific-popup/magnific-popup.min.js')
        script(src='lib/sticky/sticky.js')
        // Contact Form JavaScript File
        script(src='contactform/contactform.js')
        // Template Main Javascript File
        script(src='js/main.js')


        // analytics modal
        #analyticsModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='analyticsModalLabel' aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#exampleModalLabel.modal-title Modal title
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                          span(aria-hidden='true') &times;
                    .modal-body
                        | ...
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                        button.btn.btn-primary(type='button') Save changes
        // Customer Profile Modal
        #customerProfileModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='customerProfileModalLabel' aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#exampleModalLabel.modal-title Modal title
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                          span(aria-hidden='true') &times;
                    .modal-body
                        | ...
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                        button.btn.btn-primary(type='button') Save changes
        // Creative Modal
        #creativeModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='creativeModalLabel' aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#exampleModalLabel.modal-title Modal title
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                          span(aria-hidden='true') &times;
                    .modal-body
                        | ...
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                        button.btn.btn-primary(type='button') Save changes
        // Customer Profile Modal
        #campaignModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='campaignModalLabel' aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#exampleModalLabel.modal-title Modal title
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                          span(aria-hidden='true') &times;
                    .modal-body
                        | ...
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                        button.btn.btn-primary(type='button') Save changes
        
        // landing Modal
        #landingModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='landingModalLabel' aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#exampleModalLabel.modal-title Modal title
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                          span(aria-hidden='true') &times;
                    .modal-body
                        | ...
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                        button.btn.btn-primary(type='button') Save changes
        
        // context Modal
        #contextModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='contextModalLabel' aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#exampleModalLabel.modal-title Modal title
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                          span(aria-hidden='true') &times;
                    .modal-body
                        | ...
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                        button.btn.btn-primary(type='button') Save chang
        

        // context Modal
        #feedbackModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='feedbackModalLabel' aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#exampleModalLabel.modal-title Форма связи
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                          span(aria-hidden='true') &times;
                    .modal-body
                        div.alert.alert-info
                            | Вы можете связаться со мной в телеграмме, whatsup, facebook по ссылкам ниже или оставить ваши контактный email и я свяжусь с вами сам.
                        form.contactForm(action="", method="post", role="form")
                            .form-group
                                label.col-form-label(for="inputName") Ваше имя:
                                .col-sm-10 
                                    input.form-control.form-control-lg(type="text", placeholder="Как к вам обращаться?")
                            .form-group
                                label.col-form-label(for="inputEmail") email:
                                .col-sm-10 
                                    input.form-control.form-control-lg(type="email", placeholder="ваш e-mail", data-rule='email', data-msg='Пожалуйста введите корректный email')
                                    .validation
                            .form-group
                                label.col-form-label(for="inputMessage") Сообщение:
                                textarea#inputMessage.form-control
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Отменить
                        button.btn.btn-primary(type='button') Отправить